@use "../../common/" as *;

.header {
    align-items: center;
    background: #fff;
    display: flex;
    left: 0;
    padding-inline: 5vw;
    padding-top: 2.5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    &__container {
        @include container;
        align-items: baseline;
        display: flex;
        justify-content: space-between;
    }
}