@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

$ff_en: 'Montserrat', sans-serif;
$ff_ja: 'Sawarabi Gothic', sans-serif;

$fc_hover: red;