@use "../global/" as *;
*,
body {
    font-family: $ff_en;
    font-weight: 300;
}

input:focus {
    outline: none;
    color: #FF7F66;
}

@mixin container {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}